<%provide(:title,"Contact")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
    Contact the Ruby on Rails Tutorial about the sample app at the
    <a href="http://www.railstutorial.org/contact">contact page</a>.
    </p>
  </body>
</html>